body {
	font-family: Verdana, sans-serif;
	margin: 0;
	background-color: #f0e68c;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}

div#container {
	width: 953px;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
}

#user-bar {
	z-index: 10000;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	font-size: 80%;
}

#user-bar a {
	color: #c0c0c0;
	text-decoration: none;
}

div#left {
	background: url(side_l2.png) repeat-y;
	width: 162px;
	margin: 0;
}

div#center {
	background: url(top2.png) no-repeat;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div#main {
	width: 606px;
	margin: 364px 0 0 0;
	padding: 5px;
	color: #1a1516;
	font-size: 16px;
}

div#right {
	background: url(side_r2.png) repeat-y;
	width: 162px;
	margin: 0;
}

#main h3 {
	background: -webkit-gradient(linear, left top, right top, from(#f0e68c), to(#ea1212));
	background: -moz-linear-gradient(top left, #f0e68c, #ea1212);
	height: 30px;
	padding: 7px 0 0 20px;
	margin: 15px 0 0 0;
	font-size: 20px;
	border-radius: 30px;
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
}
}

#main h4 {
	margin: 12px 0 0 0;
	font-size: 16px;
	font-weight: bold;
}

#main h5 {
	background: -webkit-gradient(linear, left top, right top, from(#f0e68c), to(#ea1212));
	background: -moz-linear-gradient(top left, #f0e68c, #ea1212);
	padding: 0 0 0 7px;
	margin: 12px 0 0 0;
	font-size: 14px;
	border-radius: 14px;
	-webkit-border-radius: 14px 14px 0 0;
	-moz-border-radius: 14px 14px 0 0;
}

div#map {
	min-height: 240px;
	margin: auto;
}

#main a {
	color: #1a1516;
}

#main a:hover {
	color: #ea1212;
	text-decoration: underline;
}

#main ul {
	list-style-type: disc;
	padding-right: 10px;
	line-height: 160%;
}

#main dl {
	padding: 0 20px;
	line-height: 160%;
}

#main dt {
	margin: 0;
	padding-left: 20px;
	font-weight: bold;
}

#main dd {
	padding-left: 15px;
	margin-left: 50px;
}

#footer {
	background: -webkit-gradient(linear, left top, right top, from(#f0e68c), color-stop(0.5, #ea1212), to(#f0e68c));
	background: -moz-linear-gradient(top left, #f0e68c, #ea1212, #f0e68c);
	text-align: center;
	color: #1a1516;
	font-weight: bold;
}
